.intro-section {
  text-align: center;
}

.intro-section h1 {
  font-size: 2.6rem;
  color: #d35400;
  margin-bottom: 20px;
}

.intro-section p {
  max-width: 750px;
  margin: auto;
  font-size: 1.1rem;
  line-height: 1.8;
  color: #5a4634;
}
